{% extends 'base.html' %}
{% block content %}
<br>
<p>Hello !</p>
<!-- 
<input type="submit" value="Query" onclick="show_db()">
 -->


 <style>
    .row {
         margin-bottom: 10pt;
     }
 </style>



<a href="http://python.com"> </a>


<br> 
<div id = 'db_return'></div>
<p>Query: <span id='queryData'></span></p>
<p id = "cellData"></p>

<div class="container-fluid ">
    <div class="row justify-content-between">
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modal</button>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new_lib_dialog" style="font-size:20px;padding-top:2px; padding-bottom:2px;"><img src="/static/img/add.png"> Add Library</button> -->
        </div>
        <div class="col-md-1">
            <button type="button"  id = 'addBtn' class = "btn btn-primary">Add sno</button>
        </div>
    </div>
</div>


<!-- INSERT MODAL -->
<div id="exampleModal" class="modal inmodal " tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true"><!--fade-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title ">Add New Library</div>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form id="new_lib_form" method="POST" enctype="multipart/form-data" action="/pm/add_lib">

                        <!--label1-->
                        <div class="mb-3 row">
                          <label for="serialNumber1" class="col-sm-2 col-form-label">serial number</label>
                          <div class="col-sm-10">
                          <input type="number" id="serialNumber1" class="form-control col-sm-6 col-form-label" >
                        </div>
                        </div>
                        <div class="w-100"></div>

                        <!--label2-->
                        <div class="mb-3 row">
                            <label for="serialNumber1" class="col-sm-2 col-form-label">tester_id</label>
                            <div class="col-sm-10">
                            <input type="number" id="tester_id1" class="form-control col-sm-6 col-form-label" >
                          </div>
                          </div>

                        <!--times-->
                        <div class="mb-3 row">
                            <label for="serialNumber1" class="col-sm-2 col-form-label">log_time</label>
                            <div class="col-sm-10">
                            <!-- <input type="number" id="tester_id1" class="form-control col-sm-6 col-form-label" > -->
                            <p id='current_time'  class="form-control col-sm-12 "></p>
                          </div>
                          </div>

                </form>  
            </div>

            <div class="modal-footer">
              
                <button class="btn btn-primary submit" type='submit' onclick='insertNewData()'>Upload</button>
                <button class="btn btn-secondary" onclick="$('#exampleModal').modal('hide')">Cancel</button>
            </div>
        </div>
    </div>
</div>


<!-- table's area -->
<div id = "libTable"></div>




<script > 



        var today = new Date().toLocaleString("es-CL");
        document.getElementById('current_time').innerHTML= today;
 
        var libTable = new Handsontable(document.getElementById('libTable'), {
            width: '100%',
            height: '800',
            stretchH: 'all',   //all=平均擴展欄寬
            minRows:100,
            rowHeaders: true,
            colHeaders: true,
            colHeaders: ['SNO','TESTER_ID', 'DATE' , 'DELETE | VIEW'],
            licenseKey: 'dfbf4-a4a7e-272c2-b6645-03351',
            outsideClickDeselects: false,   //離開表格後, 選取的範圍不會消失, 這樣才能配合外部按鍵操作
            selectionMode: 'range',   //single,range,multiple
            columns : [
                {data: 'sno',className:'htCenter'},
                {data: 'tester_id', className:'htCenter'},
                {data:'log_time', className:'htCenter'},
                // {data:'action_button', className:'htCenter'},
                { data: 'sno', renderer: function (instance, td, row, col, prop, value, cellProperties) {
               
                    td.align = 'center';
                    if (value == null) return;
                    
                    td.innerHTML = "<a href='javascript:viewLib(" + value + ")'>View</a> | <a href='javascript:deleteLibrary(" + value + ")'>Delete</a>"
             
                }
                }
            ]

        });


    

        function DocLoadData(){//從後端撈資料更新
            $.ajax({
                url:'/db_four/loadDataFromServer',
                dataType:'json',
                async: false,
                success: function(data){
                    libTable.loadData(data)
                }  
            });
        }

        $(document).ready(function(){
            DocLoadData();
           
        })


        function viewLib(sno) { // return a url
            location.href = "/pm/library_view?sno=" + sno;
           
        }


        function insertNewData(){ 
            var formData2DB = new FormData();
            formData2DB.append('sno', $('#serialNumber1').val());
            // alert( $('#serialNumber1').val())
            // alert($('#tester_id1').val())
            // alert(today)
            formData2DB.append('tester_id', $('#tester_id1').val());
            formData2DB.append('log_time',today);
            // for (var pair of formData2DB.entries()) {
            // console.log(pair[0]+ ', ' + pair[1]); 
            //     }
            // 資料用成功裝進去formdata, todo : 要把資料傳到後端
            $.ajax({
                url:"/db_four/insert_new_data",
                type:'POST',
                data:formData2DB,
                // cache:false,
                // contentType:false,
                // processData:false,
                async:false,   //不要使用非同步
                success:function(data) {
                    // $('#new_lib_dialog').modal('hide');
                    $('#exampleModal').modal('hide');
                    DocLoadData();   
                    
                }
            })
         
      
        }



        //刪除使用者資料
        // function delLib(sno) {
        //     var selectedAreas = libTable.getSelected();
        //     var firstArea = selectedAreas[0];
        //     var selectedRow = firstArea[0];
        //     var libname = libTable.getDataAtCell(selectedRow, 2)
        //     $('#delete_lib_name').html(libname);
        //     $('#delete_sno').val(sno);
        //     $('#lib_delete_dialog').modal('show');
        // }

        // function deleteLibrary() {
        //     var sno = $('#delete_sno').val();
        //     $.ajax({
        //         url:"/pm/delete_library",
        //         dataType:'text',
        //         data:{"sno":sno},
        //         async:false,   //不要使用非同步
        //         success:function(data) {
        //             $('#lib_delete_dialog').modal('hide');
        //             window.location.reload();  // why don't use loadData method of Handsontable
        //         }
        //     });
        // }




        function deleteLibrary(sno){
            // 如果在click當下就可以刪除整個row, 為甚麼要取出cell
            var _sno = sno
            var selectedAreas = libTable.getSelected(); 
            var firstArea = selectedAreas[0];
            var selectedRow = firstArea[0];
            var libname = libTable.getDataAtCell(selectedRow, 2)
            $('#queryData').html('libname : ' + libname)
            
            $.ajax({
                url: '/db_four/delete_sno',
                data: {'sno' : _sno},
                // dataType:'text',
                success:function( pythonReturn){
                    
                    alert('Data return from server: ' + pythonReturn );
                    // DocLoadData();
                    window.location.reload()
                }
            });

        }





        // function show_db(){
        // var _cmd = 'SELECT User FROM mysql.User';
        //     $.ajax({      
        //         /// 資料要怎麼傳去後段 , 
        //         /// ajax 有成功, 但資料沒有成功從前端送到後端去, 因為alert在成功有顯示，但cmd沒有值
        //             // dataType: "text",
        //             type:'POST',
        //             url:"/db_four/db_query",
        //             data: {'_cmd': _cmd},
        //             cache:false,
        //             //contentType:false,
        //             //processData:false,
        //             async:false,   //不要使用非同步
        //             success:function(_ret) {
        //                 // $("#query_ret").html(_ret);
        //             //   console.log("js'ajax sucess :  " + _ret);
        //                 // alert("js'ajax sucess  >>>\n " + _ret)
        //             //   $("#py_read_data").html(py_dict);
        //             }
        //         });
        //     }
 
</script>

{% endblock %}