{% extends 'base.html'%}
{% block content %}

<style type="text/css">

    #container {
        margin-bottom : 15;
        /* padding : 25 */
    }

    h3{
      margin :20px 50px 20px 20px;
    }

    
    h6{
      margin :35px 35px 20px 20px;
    }
    </style>


<div class="container-fluid">

  <h3>Login</h3>
    <form>
        <div class="mb-3 col-4">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName1" aria-describedby="emailHelp" required>
        </div>
    
        <div class="mb-3 col-4">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword1" required>
        </div>
      </form>
    
      <div class = "row ">
        <div class = "col-3">
            <button type="submit" class="btn btn-primary" onclick="toLogin()">Login</button>
          </div>
        <div class="col-3">
            <button type="submit" class="btn btn-primary" onclick = "toSingUp()">SignUp</button> 
        </div>   

      </div>



</div>

<h6> Name: <span id="nameInput"></span> </h5>
<h6> Password: <span id="passwordInput"></span></h5>
  <h6> DB_user: <span id="db_user"></span></h5>
<script>


function toLogin(){
  var _name = document.getElementById("inputName1").value
  var _pwd = document.getElementById("inputPassword1").value
  document.getElementById("nameInput").innerHTML= _name
  document.getElementById("passwordInput").innerHTML= _pwd


  $.ajax({
    url: '/user_accounts/user_check',
    data: {'userName': _name},
    success: function(data){
    document.getElementById("db_user").innerHTML= data
    }
    
    
  })

}




function toSignUp(){
  var userData = new FormData();
  userData.append('user_name', );

}

</script>






{% endblock %}