<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->


</style>
<nav class = "navbar navbar-expand-lg navbar-dark bg-dark float-start">
    
    <a class="navbar-brand" href="#">Semi</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav  mr-auto">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>

        <a class="nav-item nav-link" href="{{ url_for ('one')}}">1</a>
        <a class="nav-item nav-link" href="{{ url_for ('two')}}">2</a>
        <a class="nav-item nav-link" href="{{ url_for ('three')}}">3</a>
        <a class="nav-item nav-link" href="{{ url_for ('four')}}">4</a>
        <input type=button class="btn btn-primary" onClick="linkToLogin()" value='Login'>
 



      </div>
    </ul>
</nav>



<script>



  function linkToLogin(){
    location.href = 'accounts/login_page'
  }
</script>