{% extends 'base.html' %}

{% block  content %}
    
    <br>
    <h3 class="container">1 -  type and show the word</h3>
    <br>
    <input id = "input_box" type="text"> 
    <br>
    <button onclick="show_text()">submit</button>
      
    <br>
    
    <!--different part -->
    <h4>------------------------</h4>
      <h6>Content : </h6>
      <p id = "text_showing"> </p>
    <h4>------------------------</h4>

  

    <script>

        function show_text(){
          var box_text = document.getElementById("input_box").value;
          document.getElementById("text_showing").innerHTML = box_text;
        }
    </script>
    

{% endblock %}